span.calendar {
  background: url("../../../assets/calendar-alt-regular.svg") no-repeat top left;
  background-size: contain;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.row {
  margin-top: 20px;
}

#searchFilter {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}

/* #searchFilter button {
  margin-left: 40px;
} */
