
<app-navbar></app-navbar>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID Presentacion Producto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">ID Tipo Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.idPresentacionProducto }}</td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.descripcionGeneral }}</td>
        <td>{{ producto.idProducto.idTipoProducto.descripcion }}</td>
      </tr>
    </tbody>
  </table>
</div>
