<app-navbar></app-navbar>
<div class="row">
  <div class="form-group">
    <label for="exampleInputEmail1">Nueva Categoria</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
      [(ngModel)]="categoria"
      placeholder="Ingrese la descripción de la nueva categoria"
    />
  </div>
</div>

<button type="submit" class="btn btn-primary" (click)="createCategoria()">
  Crear
</button>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID Categoria</th>
          <th scope="col">Descripcion Categoria</th>
          <th scope="col">Subcategorias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.idCategoria }}</td>
          <td>{{ categoria.descripcion }}</td>
          <td>
            <a class="btn btn-link" (click)="obtenerSubcategorias(categoria)">
              Ver
            </a>
            /
            <a
              class="btn btn-link"
              routerLink="agregar-subcategoria/{{ categoria.idCategoria }}"
            >
              Agregar
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripcion Subcategoria</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subcategoria of subcategorias">
          <td>{{ subcategoria.descripcion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
