<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-6">
    <label >Fecha</label>
    <div class="col-md-6 input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="fecha"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="d.toggle()"
          type="button"
        >
          <span class="calendar"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div *ngIf="this.empleado.nombre!=null && this.fecha!=undefined; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <button
        class="btn btn-lg btn-outline-primary"
        (click)="openAgendaLibre(contentAgendaLibre)"
      >
        Horarios
      </button>
    </ng-template>
    <ng-template #elseBlock>
      <button
        class="btn btn-lg btn-outline-primary"
        (click)="openAgendaLibre(contentAgendaLibre)"
        [disabled]=true
      >
        Horarios
      </button>
    </ng-template>

    Horario seleccionado: {{ agenda.horaInicioCadena }} {{ agenda.horaFinCadena }}
  </div>
</div>

<ng-template #contentEmpleados let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Empleados</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="dateOfBirth">Empleados</label>
      <select
        class="form-select"
        id="exampleInputEmail1"
        aria-label="Default select example"
        [(ngModel)]="empleado"
      >
        <option *ngFor="let empleado of empleados" [ngValue]="empleado">
          {{ empleado.nombre }} {{ empleado.apellido }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #contentClientes let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Clientes</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="dateOfBirth">Cliente</label>
      <select
        class="form-select"
        id="exampleInputEmail1"
        aria-label="Default select example"
        [(ngModel)]="cliente"
      >
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">
          {{ cliente.nombre }} {{ cliente.apellido }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #contentAgendaLibre let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Agenda</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="agenda">Agenda Disponible</label>
      <select
        class="form-select"
        id="idAgenda"
        aria-label="Default select example"
        [(ngModel)]="agenda"
      >
        <option *ngFor="let agendaLibre of agendasLibres" [ngValue]="agendaLibre">
          {{ agendaLibre.horaInicioCadena }} {{ agendaLibre.horaFinCadena }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Guardar
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-6">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="openEmpleados(contentEmpleados)"
    >
      Empleados
    </button>
    Empleado seleccionado: {{ empleado.nombre }} {{ empleado.apellido }}
  </div>
  <div class="col-md-6">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="openClientes(contentClientes)"
    >
      Clientes
    </button>
    Cliente seleccionado: {{ cliente.nombre }} {{ cliente.apellido }}
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label for="exampleFormControlTextarea1" class="form-label"
      >Observación</label
    >
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      rows="3"
      [(ngModel)]="observacion"
    ></textarea>
  </div>
</div>

<div id="searchFilter">
  <div *ngIf="this.cliente.nombre!=null && this.empleado.nombre!=null && this.fecha!=undefined && this.agenda.horaInicioCadena!=null; then thenGuardar else elseGuardar"></div>
  <ng-template #thenGuardar>
    <button
    type="button"
    class="btn btn-outline-primary"
    (click)="guardarReserva()"
  >
    Guardar
  </button>
  </ng-template>

  <ng-template #elseGuardar>
    <button
    type="button"
    class="btn btn-outline-primary"
    (click)="guardarReserva()"
    [disabled]=true
  >
    Guardar
  </button>
  </ng-template>

  <button type="button" class="btn btn-outline-primary" (click)="back()">
    Cancelar
  </button>
</div>
