<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-6">
    <label >Fecha desde</label>
    <div class="col-md-6 input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="fechaDesde"
        ngbDatepicker
        #d="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="d.toggle()"
          type="button"
        >
          <span class="calendar"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <label >Fecha hasta</label>
    <div class="input-group">
      <input
        class="form-control"
        placeholder="yyyy-mm-dd"
        name="dp"
        [(ngModel)]="fechaHasta"
        ngbDatepicker
        #d2="ngbDatepicker"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary calendar"
          (click)="d2.toggle()"
          type="button"
        >
          <span class="calendar"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #contentEmpleados let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Empleados</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="dateOfBirth">Empleados</label>
      <select
        class="form-select"
        id="exampleInputEmail1"
        aria-label="Default select example"
        [(ngModel)]="empleado"
      >
        <option *ngFor="let empleado of empleados" [ngValue]="empleado">
          {{ empleado.nombre }} {{ empleado.apellido }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #contentClientes let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Clientes</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="dateOfBirth">Cliente</label>
      <select
        class="form-select"
        id="exampleInputEmail1"
        aria-label="Default select example"
        [(ngModel)]="cliente"
      >
        <option *ngFor="let cliente of clientes" [ngValue]="cliente">
          {{ cliente.nombre }} {{ cliente.apellido }}
        </option>
      </select>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<ng-template #contentModificar let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Modificar Reserva</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="observacion" class="form-label">Observacion</label>
      <textarea
        class="form-control"
        id="observacionTextarea"
        rows="3"
        [(ngModel)]="observacion"
      ></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<div class="row">
  <div class="col-md-6">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="openEmpleados(contentEmpleados)"
    >
      Empleados
    </button>
    Empleado seleccionado: {{ empleado.nombre }} {{ empleado.apellido }}
  </div>
  <div class="col-md-6">
    <button
      class="btn btn-lg btn-outline-primary"
      (click)="openClientes(contentClientes)"
    >
      Clientes
    </button>
    Cliente seleccionado: {{ cliente.nombre }} {{ cliente.apellido }}
  </div>
</div>

<div id="searchFilter">
  <button type="button" class="btn btn-outline-primary" (click)="filtrarReservas()">
    Buscar
  </button>
  <button type="button" class="btn btn-outline-primary">Limpiar</button>
</div>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Profesional</th>
        <th scope="col">Cliente</th>
        <th scope="col">Observacion</th>
        <th scope="col">Asistencia</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reserva of reservas">
        <td>{{ reserva.fecha }}</td>
        <td>{{ reserva.idEmpleado.nombre }} {{ reserva.idEmpleado.apellido }}</td>
        <td>{{ reserva.idCliente.nombre }} {{ reserva.idCliente.apellido }}</td>
        <td>{{ reserva.observacion }}</td>
        <td>{{ reserva.flagAsistio }}</td>
        <td>{{ reserva.flagEstado }}</td>
        <td>
          <i class="bi bi-x-lg"></i>
          <i class="bi bi-check"></i>

          <div *ngIf="reserva.flagAsistio==null && reserva.flagEstado=='R'; then thenAccion else elseAccion"></div>
          <ng-template #thenAccion>
            <button type="button" class="btn btn-outline-secondary" (click)="openModificar(contentModificar,reserva)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>
            </button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancelarReserva(reserva)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
              </svg>
            </button>
          </ng-template>
          <ng-template #elseAccion>
            <button [disabled]=true type="button" class="btn btn-outline-secondary" (click)="openModificar(contentModificar,reserva)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
              </svg>
            </button>
            <button [disabled]=true type="button" class="btn btn-outline-secondary" (click)="cancelarReserva(reserva)">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
              </svg>
            </button>
          </ng-template>

        </td>
      </tr>
    </tbody>
  </table>
</div>
